

<div id="all-events">
  <!-- search bar only visible to users, not organizations with own events -->
  <% if current_organization.nil? %>
    <%= form_tag events_path, :method => :get do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search Near: ", :name => nil %>
      </p>
    <% end %>
  <% end %>
</div>

<% if current_organization && !@events.empty? && current_organization == @events.first.organization %>
  <div class="linkNewEvent">
    <%= link_to 'New Event', new_event_path %>
  </div>
<% end %>

<!-- new org with empty events -->
<% if current_organization && @events.empty? %>
  <div class="alert">
    You haven't created any events! Create one now!
  </div>
  <%= link_to 'New Event', new_event_path %>
<% end %>



<div id="events-container">
  <% @events.each do |event| %>
    <div class="singleEventContainer">
      <%= link_to event do %>
        <div class="eventImageInfo">
          <%= image_tag event.image.url(:medium) %>
          <div class="specificInfo">
            <%= event.event_name %> <br>
            <%= event.date.strftime("%m/%d/%Y") %>
            <%= event.time.strftime("%r") %>
          </div>
        </div>
      <% end %>

      <% if current_organization && !@events.empty? && current_organization == @events.first.organization %>
        <div class="links">
          <%= link_to 'Show', event %>
          <%= link_to 'Edit', edit_event_path(event) %>
          <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
