<div class="title">
  <h1><%= @event.event_name %></h1>
</div>

<div id="event-container">
  <div id="map-container">
    <div id="map-canvas"></div>
  </div>

  <div id="event-details">

    <div class="detail">
      <i class="fa fa-home" aria-hidden="true"></i><b> Organization:</b> <br> <span> <%= link_to @event.organization, @event.organization %></span>
    </div>

    <div class="detail">
      <i class="fa fa-calendar" aria-hidden="true"></i><b> Date:</b><br>
      <span><%= @event.date.strftime("%m/%d/%Y") %></span>
    </div>

    <div class="detail">
      <i class="fa fa-clock-o" aria-hidden="true"></i><b> Time:</b> <br><i><%= @event.time.strftime("%H:%M %p") %></i>
    </div>

    <div class="detail">
      <i class="fa fa-location-arrow" aria-hidden="true"></i><b> Address:</b><br> <i><%= @event.street_address %>
      <%= @event.city %>, <%= @event.state %>, <%= @event.zip_code %></i>
    </div>

    <div class="detail">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      <b> About this event:</b>
      <p>
        <%= @event.description %>
      </p>
    </div>
  </div>
</div>

<% if current_organization && @event.organization == current_organization %>
  <div class="actions">
    <%= submit_tag "Log In" %>
    <%= link_to 'Edit', edit_event_path(@event) %>
  </div>

<% end %>

<div class="editBtn">
  <%= button_to 'All Events', events_path, :method => :get %>
  <% if current_organization && (current_organization.org_name == @event.organization.org_name)%>
    <%= button_to 'Edit', edit_event_path(@event), :method => :get %>
    <%= button_to 'Delete Event', @event, :method => :delete,  data: { confirm: "Are you sure? This will delete your event!"}%>
  <% end %>
</div>
