<div class="title">
  <h1><%= @event.event_name %></h1>
</div>

<div id="event-container">
  <div id="event-details">

    <div class="detail">
      <i class="fa fa-home" aria-hidden="true"></i><b> Organization:</b> <br> <span> <%= link_to @event.organization, @event.organization %></span>
    </div>

    <div class="detail">
      <i class="fa fa-calendar" aria-hidden="true"></i><b> Date:</b><br>
      <span><%= @event.date.strftime("%m/%d/%Y") %></span>
    </div>

    <div class="detail">
      <i class="fa fa-clock-o" aria-hidden="true"></i><b> Time:</b> <br><i><%= @event.time.strftime("%H:%M %p") %></i>
    </div>

    <div class="detail">
      <i class="fa fa-location-arrow" aria-hidden="true"></i><b> Address:</b><br> <i><%= @event.street_address %>
      <%= @event.city %>, <%= @event.state %>, <%= @event.zip_code %></i>
    </div>

    <div class="detail">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      <b> About this event:</b>
      <p>
        <%= @event.description %>
      </p>
    </div>  
  </div>

  <div id="map-container">
    <div id="map-canvas"></div>
  </div>
</div>

<h3>Nearby Events</h3>
<ul>
  <% if !@event.nearbys(30).nil? %>
    <% for event in @event.nearbys(30) %>
      <li><%= link_to event.address, event %> (<%= event.distance.round(2) %>) miles </li>
    <% end %>
  <% end %>
</ul>

<% if current_organization && @event.organization == current_organization %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
