<div class="form-container">

<%= form_for(organization) do |f| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset class="row1">
  <div class="field">
    <%= f.label :org_name %>
    <%= f.text_field :org_name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :org_type %>
    <%= f.select :org_type,['Food Pantry', 'Shelter', 'Soup Kitchen', 'Other']%>
    <div id="otherField"><%= text_field_tag :org_type_text %></div>
  </div>

  <div class="field">
    <%= f.label :contact_name %>
    <%= f.text_field :contact_name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :contact_number %>
    <%= f.text_field :contact_number, class: "form-control" %>
  </div>
</fieldset>

<fieldset class="row2">
  <div class="field">
    <%= f.label :street_address %>
    <%= f.text_field :street_address, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code, class: "form-control" %>
  </div>
</fieldset>

<fieldset class="row3">
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
</fieldset>

  <div class="actions" id="submit-btn">
    <div id="btn-container">
      <%= f.submit %>
    </div>
  </div>
<% end %>
</div>
