<p>
  <strong>Org name:</strong>
  <%= @organization.org_name %>
</p>

<p>
  <strong>Org type:</strong>
  <%= @organization.org_type %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @organization.contact_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @organization.contact_number %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @organization.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @organization.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @organization.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @organization.zip_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @organization.email %>
</p>

<p>
  <strong>About the Organization:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @organization.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @organization.longitude %>
</p>

<div id="map-container">
  <div id="map-canvas"></div>
</div>

<h3>Nearby Organizations</h3>
<ul>
  <% if !@organization.nearbys(30).nil? %>
    <% for org in @organization.nearbys(30) %>
      <li><%= link_to org.address, org %> (<%= org.distance.round(2) %>) miles </li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
