<div class="title" id="with-background">
  <h1><%= @organization.org_name %></h1>
  <span>Organization</span>
</div>

<div id="organization-container">
  <div class="organization-details">

  </div>


</div>

<p>
  <strong>Org type:</strong>
  <%= @organization.org_type %>
</p>

<p>
  <strong>Primary Contact:</strong>
  <%= @organization.contact_name %>
</p>

<p>
  <strong>Contact the Organization:</strong>
  <%= @organization.contact_number %>
</p>

<p>
  <strong>Visit <%= @organization.org_name %></strong>
  <%= @organization.street_address %>, <%= @organization.city %>, <%= @organization.state %>, <%= @organization.zip_code %>
</p>


<p>
  <strong>Email:</strong>
  <%= @organization.email %>
</p>

<p>
  <strong>About the Organization:</strong>
  <%= @organization.description %>
</p>

<div id="map-container">
  <div id="map-canvas"></div>
</div>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
