<div class="headerWithImage">
  <%= image_tag(@organization.image.url)%>
  <div class="center">
    <h1><%= @organization.org_name %></h1>
    <span>Organization</span>
  </div>
</div>


<div class="organizationContainer">

  <div class="orgDetails">
    <h2>About</h2>

    <div class="detail">
      <b>Organization Type: </b><%= @organization.org_type %>
    </div>

    <% if @organization.org_type == "Shelter" %>
      <div class="detail">
        <b>Beds available: </b>
        <% if @organization.availability %>
          Yes
        <% else %>
          No
        <% end %>
      </div>

    <% end %>

    <div class="detail">
      <p>
        <%= @organization.description %>
      </p>
    </div>

    <div class="detail">
      <b>Organization's Primary Contact Phone Number:</b> <br> <span><%= @organization.contact_number %></span>
    </div>

    <div class="detail">
      <b>Organization's Primary Email</b> <span><%= @organization.email %></span>
    </div>

  </div>

  <div class="mapAddress">
    <div id="map-container">
      <div id="map-canvas"></div>
    </div>

    <div id="address-container">
      <p> <b>Address: </b>
        <%= @organization.street_address %>, <%= @organization.city %>, <%= @organization.state %>, <%= @organization.zip_code %>
      </p>
    </div>

  </div>

</div>


  <div class="editBtn">
    <% if !current_organization %>
      <%= button_to 'All Organizations', organizations_path, :method => :get %>
    <% elsif current_organization && (current_organization.org_name == @organization.org_name)%>
      <%= button_to 'My Events', events_path, :method => :get %>
      <%= button_to 'Edit Org Info', edit_organization_path(@organization), :method => :get %>
      <div class="delBtn">
        <%= button_to 'Delete Org', @organization, :method => :delete,  data: { confirm: "Are you sure? This will delete your organization's profile and your events!"}%>
      </div>
    <% end %>
  </div>

  <div class="padding"></div>
